@model MovieWeb.Models.Movie_64130299

@{
    ViewBag.Title = "Chi tiết phim";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/movie64130299-styles.css" />
<h2>Thông tin </h2>

<div>
    <hr />
    <dl class="form-horizontal">
        <dt>
            Tiêu đề
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Ngày phát hành
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            Thể loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PosterUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PosterUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailerUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailerUrl)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.MovieUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MovieId }, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
