@model MovieWeb.Models.MovieUrls_64130299

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MovieUrls_64130299</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie_64130299.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie_64130299.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieUrlId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
