@model MovieWeb.Models.Comment_64130299

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/movie64130299-styles.css" />

<h2>Xóa bình luận</h2>

<h3 class="text-danger">Bạn có chắc chắn muốn xóa bình luận này</h3>
<div>
    <hr />
    <dl class="form-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie_64130299.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie_64130299.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_64130299.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_64130299.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default text-bg-danger" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
