@model MovieWeb.Models.Comment_64130299

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/movie64130299-styles.css" />
<h2>Chi tiết bình luận</h2>

<div>
    <hr />
    <dl class="form-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie_64130299.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie_64130299.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_64130299.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_64130299.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa bình luận", "Edit", new { id = Model.CommentId }, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
