@model IEnumerable<MovieWeb.Models.Comment_64130299>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách bình luận</h2>
<link rel="stylesheet" type="text/css" href="~/Content/movie64130299-styles.css" />
<p>
    <a class="btn btn-create" href="@Url.Action("Create")">Tạo mới</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie_64130299.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_64130299.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie_64130299.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_64130299.Email)
        </td>
        <td>
            <a class="btn btn-edit" href="@Url.Action("Edit", new { id=item.MovieId })">Sửa</a>
            <a class="btn btn-details" href="@Url.Action("Details", new { id=item.MovieId })">Chi tiết</a>
            <a class="btn btn-delete" href="@Url.Action("Delete", new { id=item.MovieId })">Xóa</a>
        </td>
    </tr>
}

</table>
