@model IEnumerable<MovieWeb.Models.Rating_64130299>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/movie64130299-styles.css" />
<h2>Danh sách đánh giá</h2>

<a class="btn btn-create" href="@Url.Action("Create")">Tạo mới</a>
<table class="table">
    <tr>
        <th>
            Thang điểm
        </th>
        <th>
            Ngày tạo
        </th>
        <th>
            Tiêu đề
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_64130299.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie_64130299.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_64130299.Email)
        </td>
        <td>
            <a class="btn btn-edit" href="@Url.Action("Edit", new { id = item.RatingId })">Sửa</a>
            <a class="btn btn-details" href="@Url.Action("Details", new { id = item.RatingId })">Chi tiết</a>
            <a class="btn btn-delete" href="@Url.Action("Delete", new { id = item.RatingId })">Xóa</a>
        </td>
    </tr>
}

</table>
